<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"  > 
        {% block stylesheets %}
          <link rel="stylesheet" href="{{ asset('css/style.css') }}"    >
        {% endblock %}
    </head>
    <body>
      <div class="container">
        <nav class="navbar navbar-expand-md navbar-light bg-light">
          <a class="navbar-brand" href={{path("home")}} >Lumas</a>
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
          {% if app.user %}  
            <div class="navbar-nav">
                <a href={{path("custom", {"name": app.user.username })}} class="nav-item nav-link active">{{ app.user.username }}</a>
                <a href={{path("postcreate")}} class="nav-item nav-link">Create Post</a>
                <a href={{path("postindex")}} class="nav-item nav-link">My Posts</a>
            </div>
          {% endif %}  
            <div class="navbar-nav ml-auto">
            {% if app.user %}  
              <a href="{{ path('app_logout')}}"  class="nav-item nav-link">Logout</a>
            {% else  %}
              <a href={{path("app_login")}} class="nav-item nav-link">Login</a>
              <a href={{path("register")}} class="nav-item nav-link">Register</a>
            {% endif %}
            </div>
          </div>
        </nav>

        {% block body %}{% endblock %}
      </div>
        
        {% block javascripts %}
        
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
            <script src="https://use.fontawesome.com/5ddc5cd0bf.js"></script> 
            <script src="index.js"></script>
        {% endblock %}
    </body>
</html>
