{% extends("base.html.twig") %}



 {% block body %}
 {% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}
<br/>
<div id="app" 
  data-posts="{{posts|json_encode }}" 
  data-pathShow="{{path("postshow",{id:"placeholderId"})}}" 
  data-upload-folder="{{ asset('uploads/') }}"
  data-pathDelete="{{path("postdelete",{id:"placeholderId"})}}"  
  data-profile-image="{{profile_image}}"
  data-profile-username="{{app.user.username}}"  
>
</div> 
 {% endblock %}

 {% block javascripts %}

  {{parent()}}

  <script src="{{ asset('js/index.js') }}" ></script>

 {% endblock %}