{% extends("base.html.twig") %}



 {% block body %}
  {% if post!=null  %}
  <div class="show-post-container">
    <span>{{post.post_id}}</span>
    <span>{{post.title}}</span>
    <span>  Category: {{ post.name }}</span>  
    <img src="{{ asset('uploads/') }}{{post.image}}" style="max-width:100%;height:auto;"  class="gallery-thumb" >
   <p>{{ post.message }}</p>
   {% else %} 
    <h2> Es gibt keinen Eintrag mit der ID {{id}} </h2>
   {% endif %}
  </div>
 {% endblock %}