{% extends("base.html.twig") %}



 {% block body %}
  {% if post!=null  %}
    <h2>id: {{post.post_id}}</h2>
    <h2>Title: {{post.title}}</h2>
    <em>  {{ post.category_id }}</em>  
    <img src="{{ asset('uploads/') }}{{post.image}}"  class="gallery-thumb" >
   {% else %} 
    <h2> Es gibt keinen Eintrag mit der ID {{id}} </h2>
   {% endif %}
 {% endblock %}